body {
    background-color: darkgray;
}

h1{
    color : cornflowerblue;
    transition: color 0.5s ease-in-out;
}

.clicked {
    color : tomato;
}

.sexy-font {
    font-family: 'Courier New', Courier, monospace;
}